.general__information {
  display: grid;
  grid-template-columns: repeat(5, 5rem);
  grid-template-rows: repeat(5, 4rem);
  justify-items: stretch;
  align-items: center ;
  gap: 10px;
  padding: 10px;
}

#file {
  display: none;
}

.picture {
  grid-row: 1/3;
  align-items: stretch;
  align-self: center;
}

.picture > button {
  height: 6rem;
}

.name {
  grid-column: 2 / 4;
}

.surname {
  grid-column: 4 / -1;
}
.email {
  grid-column: 2 / -1;
}
.telephone,
.social,
.location {
  grid-column: 1 /-1;
  justify-self: stretch;
}

.description {
  grid-column: 1/4;
}

.name,
.surname,
.email,
.telephone,
.social,
.location,
.description,
.picture {
  display: flex;
  flex-direction: column;
}

#description {
  resize: none;
}

.safe, 
.edit {
  align-self: flex-end;
  background-color: #FF2E63;
  border: none;
  height: 2rem;
  border-radius: 5px;
  color: #EAEAEA;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.safe:hover, 
.edit:hover {
  transform: translateY(-2px);
}