.profession__experience {
    margin-left: 20px;
    line-height: 20px;
}

.company{
    text-transform: uppercase;
    font-weight: 700;
}

.date-work {
    display: block;
}

.position {

}

.responsibilities {

}