.resume {
  display: flex;
  min-height: 700px;
  max-height: 700px;
  box-shadow: 2px 2px 8px #444444;
}

.left {
  color: #EDEDEDED;
  background-color: #444444;
  flex: 1 1 5rem;
}

.left > * {
  padding: 10px;
}

.right {
  background-color: #eaeaea;
  flex-basis: 20rem;
  flex: 2;
}

.right > * {
  padding: 10px;
}

.education {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.profession {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.full-name {
  font-size: 2rem;
}

