#delete {
  display: block;
  margin: 0 auto;
}

.buttons {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
.buttons > div {
  /* border:1px solid blue; */
  padding:0  15px;
}

.buttons > div > button {
  margin: 0 10px;
  min-width: 80px;
}

.show__education {
  display: grid;
  grid-template-columns: repeat(5, 5rem) ;
  grid-template-rows: repeat(3,4rem);
  gap: 15px;
}

.container__education {
  padding: 10px;
}

.school,
.title {
  grid-column: 1/ -1;
}

.dateStart {
  grid-column: 1/3;
}

.dateEnd {
  grid-column: 4/6;
}
.school,
.title,
.dateStart,
.dateEnd {
  display: flex;
  flex-direction: column;
}