#user__image {
  display: block;
  border-radius: 100%;
  margin: 15px auto;
  max-width: 14rem;
  max-height:10rem;
  padding: 0;
  object-fit: cover;  
  object-position: center;
}

.resume__description {
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
}

.data__description {
  display: block;
  text-align: center;
}

.resume__contact {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.data {
  padding: 10px;
}

.data > li > svg   {
  width: 2.2rem;
  height: 2.2rem;
}

.data > li {
  list-style-type: none;
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 1rem;
  margin: 10px;
}
