.content {
    background-color: #171717;
    color: #EDEDED;
    flex-basis: 32rem;
    min-height: 500px !important;
    border-radius: 5px ;
}


.content__information {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
}

.content__editable {
    background-color: #EDEDED;
    color: #444444;
    border-radius: 10px;
}

.content__editable > div {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
